name: Release Cycle

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

env:
  SOLUTION: "./WPF.sln"
  NUPKG_OUTPUT_PATH: './nupkgs'

jobs:
  release:
    runs-on: windows-latest

    strategy:
      matrix:
        dotnet-version: ['10.0.x']

    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
    
      - name: Get Version Number From Tag
        run: |
          Write-Host "GITHUB_REF = $env:GITHUB_REF"
          Write-Host "GITHUB_REF = $env:GITHUB_ENV"

      - name: Get Version Number From Tag 2
        run: |
          Write-Host "GITHUB_REF = $env:GITHUB_REF"
          Write-Host "GITHUB_REF = $env:GITHUB_ENV"
