name: Release Cycle

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

env:
  SOLUTION: "./WPF.sln"
  NUPKG_OUTPUT_PATH: './nupkgs'

jobs:
  release:
    runs-on: windows-latest

    strategy:
      matrix:
        dotnet-version: ['10.0.x']

    steps:
      - name: Show FUCKING env vars
        run: |
          Write-Host 'env.GITHUB_REF=$env:GITHUB_REF'
          Write-Host 'env.GITHUB_ENV=$env:GITHUB_ENV'
          Write-Host 'GITHUB_REF=$GITHUB_REF'
          Write-Host 'GITHUB_ENV=$GITHUB_ENV'
